example-tuscany-service/src/main/resources/order-service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.originatelabs.com/service"
    targetNamespace="http://example.originatelabs.com/service">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.originatelabs.com/service"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:order="http://example.originatelabs.com/order"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">
            
            <xsd:import namespace="http://example.originatelabs.com/order"
                schemaLocation="order.xsd"/>
            
            <xsd:element name="PingRequest" type="xsd:string"/>
            <xsd:element name="PingResponse" type="xsd:string"/>
            
            <xsd:element name="CreateOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="order" type="order:OrderType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
   </wsdl:types>
   
   <wsdl:message name="PingRequestMessage">
        <wsdl:part name="body" element="tns:PingRequest"/>
   </wsdl:message>
   <wsdl:message name="PingResponseMessage">
        <wsdl:part name="body" element="tns:PingResponse"/>
   </wsdl:message>
   <wsdl:message name="CreateOrderRequestMessage">
        <wsdl:part name="body" element="tns:CreateOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateOrderResponseMessage">
        <wsdl:part name="body" element="tns:CreateOrderResponse"/>
    </wsdl:message>
   
    <wsdl:portType name="OrderServicePort">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:PingRequestMessage"/>
            <wsdl:output message="tns:PingResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="tns:CreateOrderRequestMessage"/>
            <wsdl:output message="tns:CreateOrderResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ping">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServiceSoapPort" binding="tns:OrderServiceSoapBinding">
            <soap:address location="http://localhost:8080/OrderService"/>
        </wsdl:port>
    </wsdl:service>
        
</wsdl:definitions>