example-camel-ws/example-service/src/main/resources/ping.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://api.example.org/ping"
	targetNamespace="http://api.example.org/ping">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://api.example.org/ping">
			<xsd:element name="PingRequest" type="xsd:string"/>
			<xsd:element name="PingResponse" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="PingRequestMsg">
		<wsdl:part name="body" element="tns:PingRequest"/>
	</wsdl:message>
	<wsdl:message name="PingResponseMsg">
		<wsdl:part name="body" element="tns:PingResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="IPingService">
		<wsdl:operation name="Ping">
			<wsdl:input message="tns:PingRequestMsg"/>
			<wsdl:output message="tns:PingResponseMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="PingServiceSoap" type="tns:IPingService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Ping">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="PingService">
		<wsdl:port name="PingPort" binding="tns:PingServiceSoap">
			<soap:address location="http://localhost:8080/ws/PingService.jws"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>